My Project/[Ll]ibrary/
My Project/[Tt]emp/
My Project/[Oo]bj/
My Project/[Bb]uild/
My Project/[Bb]uilds/
My Project/[Ll]ogs/
My Project/[Uu]ser[Ss]ettings/
My Project/MemoryCaptures/
My Project/Recordings/

My Project/*.csproj
My Project/*.sln
My Project/*.user
My Project/*.userprefs